.App {
  text-align: center;
}
.Header {
  color: white;
  text-shadow: 1px 1px 10px black;
}
/* write your parent styles in here for your App.js */

/* .characterList-container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  }
  .characters-container{
    width: 360px;
    height: 150px;
    margin: 0 auto;
    font-size: 0.5rem;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 10px;
    align-items: center;
    color: white;
    border: black solid 4px;
    border-radius: 10px;
  }
  .characters-container img{
    width: 50%;
  }
  .characters-container .character-info h2{
    font-family: 'Baloo Bhaina 2', bold 700;
  }
  .characters-container .character-info p{
    font-family: 'Baloo Bhaina 2';
  } */